.Header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0.6rem;
  gap: 2rem;
}

.branding {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--grey-1);
  gap: 0.6rem;
  margin-left: 1rem;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 45rem;
  height: 3rem;
  padding: 0 1rem;
  background-color: var(--grey-4);
  border-radius: var(--border-radius-lg);
}
.search input {
  width: 100%;
  margin-left: 1rem;;
  background: none;
  border: none;
  outline: none;
}
.search:focus-within {
  background-color: var(--white);
  box-shadow: var(--shadow-1);
}